/* style.css */
body{
  background: #fff;
  color: #32A697;
  font-size: 25px;
  font-family: font-family: 'Indie Flower', cursive;
}
nav{
  font-family: courier
  font-size: 2em;
  background: #2f7950;
}
h1{
  font-family: font-family: 'Montserrat', sans-serif;
  color: #32A697;
  font-weight: lighter;
  font-size: 25px;
}
#title{
  font-size: 50px;
} 
h2 {
  font-family: Courier;
  color: #1962A2;
  font-weight: lighter;
  font-size: 20px;
}
a {
  color: pink;
}
a:hover {
  text-decoration: none;
  color: purple;
}